@import url("root.css");


.events-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    max-width: auto;
    margin: 2rem;
  }
  
.events-card {
    background-color: var(--lilac-color);
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    text-align: center;

    border: 1px solid #fff;
    border-radius: 8px;
}

.events-card p {
    margin: 0.5rem auto;
}

.events-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.events-card a {
    /* text-decoration: none; */
    color: var(--red-titles);
}

.events-card a:hover {
    text-decoration: none;
}

.events-title {
    font-size: 20px;
    margin: 10px;
}

.events-name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.events-date {
    font-size: 16px;
    margin-bottom: 10px;
}

.events-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.events-button {
    background-color: var(--background-white);
    color: var(--font-colour);
    border: none;
    border-radius: 5px;
    padding: 10px;
    min-height: 25px;
    min-width: 100px;
    margin-top: 0.5rem;
}