/* Responsive styles */

@media (max-width: 1177px) {
    .nav-links {
      gap: 15px;
    }
  
    .header-image {
      display: none;
    }
  }
  
  @media (max-width: 970px) {
    .nav-links {
      gap: 5px;
    }
  }
  
  @media (max-width: 917px) {
    .toggle-button {
      display: block;
    }
  
    .header-title {
      max-width: 100%;
      text-align: center;
      left: 1%;
      top: 153px;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px;
      /* Adjusted for fixed navbar */
      left: 0;
      width: 100%;
      background: #f4f7fa;
      padding: 15px 0;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
  
    .nav-links li {
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }
  
    .toggle-checkbox:checked + .toggle-button + .nav-links {
      display: flex;
    }

    .newsletter-form {
        max-width: 90%;
    }
  }
  
  @media (max-width: 757px) {
    .header-title {
      font-size: 30px;
    }
  }
  
  @media (max-width: 615px) {
    .header-title {
      font-size: 20px;
    }
  }