@import url("./navbar.css");
@import url("./contact-form.css");
@import url("./event-cards.css");
@import url("./footer.css");
@import url("./media-queries.css");
@import url("./team-cards.css");
@import url("./home.css");

/* Import the ShadePro Black font */
@import url("https://fonts.googleapis.com/css2?family=ShadePro:wght@900&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  /* line-height: 1; */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Style variables */
:root {
  --pink-color: #ffb6e7;
  --lilac-color: #c8d1ef;
  --beige-color: #f1e0bf;
  --red-titles: #b80003;

  --background-light: #f4f7fa;
  --background-white: #fff;

  --font-colour: #161c2d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "ShadePro", sans-serif;
  background-color: var(--background-white);
  color: var(--font-colour);
}

.section-container {
  padding: 2rem 1rem;
  max-width: var(--max-width);
  margin: auto;
}

.section-title {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  /* font-family: Roboto, sans-serif; */
  font-size: 16px;
  font-weight: bold;
  color: var(--red-titles);
  padding: 2rem;
}

.paragraphs {
  margin: 0 auto;
  width: 70%;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
}

@import url("./team-cards.css");
